# Database configuration
DB_USER=proy3
DB_PASSWORD=secret
DB_NAME=tienda_db
DB_HOST=db
DB_PORT=5432

# Backend configuration
PORT=8081
DATABASE_URL=postgres://proy3:secret@db:5432/tienda_db
FRONTEND_PORT=5173

# Puerto del backend para el frontend
# Debe coincidir con el puerto del docker-compose.yml en el servicio "backend"
# Por defecto todo esta en el 8081
VITE_API_URL=http://localhost:8081