# Configuración de Base de Datos
DB_USER=proy2
DB_PASSWORD=secret
DB_NAME=tienda_db
DB_HOST=db
DB_PORT=5432

# Configuración del Backend
PORT=8080
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Configuración del Frontend
VITE_API_URL=http://localhost:8080